<!DOCTYPE html>
<html>
<head><title>Tambah Event Baru</title></head>
<body>
    <h1>Formulir Event Baru</h1>
    <form action="/events/new" method="POST">
        <label for="nama_event">Nama Event:</label><br>
        <input type="text" id="nama_event" name="nama_event" required><br><br>
        <label for="lokasi">Lokasi:</label><br>
        <input type="text" id="lokasi" name="lokasi"><br><br>
        <label for="tanggal_mulai">Tanggal Mulai:</label><br>
        <input type="date" id="tanggal_mulai" name="tanggal_mulai"><br><br>
        <button type="submit">Simpan Event</button>
    </form>
    <br>
    <a href="/events">Batal</a>
</body>
</html>